streamlit
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
openml
torch
torchvision
mlflow
mlflow[extras]
opencv-python-headless
pillow
streamlit-drawable-canvas
datetime
tqdm
scipy
scikit-image
