streamlit
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
openml
torch
torchvision
mlflow
opencv-python-headless
pillow
streamlit-drawable-canvas
tqdm
scipy
scikit-image
torch==2.1.0  # Hoặc phiên bản phù hợp với mô hình của bạn
torchvision==0.16.0
